<div id="buttons">
    <h2 class='mac_heading'>Buttons</h2>
    <p>
        Buttons are styled using the Gel Framework as guide 
        with little tweaks specific to LOLA.
    </p>
    <div class="container">
        <table class="table table-bordered text-center" style="table-layout: fixed">
            <thead>
                <tr>
                    <th class="text-center"> Browser View </th>
                    <th class="text-center"> HTML Code </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn lola-btn-link"> Cancel </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-link"&gt; Cancel &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn lola-btn-hero"> Decision </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-hero"&gt; Decision &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn lola-btn-primary"> Add Facility </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-primary"&gt; Add Facility &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn lola-btn-secondary"> Expand All </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-secondary"&gt; Expand All &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn lola-btn-inline-secondary"> Review Details </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-inline-secondary"&gt; Review Details &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn lola-btn-accordion-square">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn lola-btn-accordion-square">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <pre><code><b>&lt;button class="btn lola-btn-accordion-square"&gt; &lt;i class="fa fa-pencil" aria-hidden="true"&gt;&lt;/i&gt; &lt;/button&gt;</b></code></pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>