<div class="row-fluid" id="top">
    <div class="navbar-inverse">
        <div class="navbar-inner">			
            <div class='container'>
                <div class="col-sm-4">
                    <h4 class="logo"><span id="wp">LOLA Style Guide - Westpac</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row-fluid">
            <div id="intro">
                <h2 class='mac_heading'>Introduction</h2>
                <p>Welcome to LOLA Style Guide.</p> <p><b>Contributors</b> : Sriram, Yash</p>
            </div>
            <br>			
            <div id="boot">
                <h2 class='mac_heading'>Bootstrap</h2>
                    <p>LOLA is built on the Twitter Bootstrap framework v3.0</p>
                    <p>Default Bootstrap theme is used as much as possible, with some custom css classes contained within a 'macStyles.css' file.</p>
                    <p>For icons, "Font Awesome Icons" were used.</p>
                    <p>The custom CSS file should be included below the default Bootstrap CSS files. Normalize.css is used to reset all css rules before loading the Bootstrap CSS files</p>
                    <p>Bootstrap.min.js is the supporing file for the bootstrap.css for all toggle and script related actions.</p>
                    <p>Google's JS API is used to draw charts.</p>
                    <p>mac.js is used for custom, LOLA-specific java script code</p>
                    <p>tableSorter.js is used to sort tables, etc.</p>
                    <div class="panel panel-default cl">
                        <div class="panel-heading">HTML</div>
                        <div class="panel-body"> 
                        <pre><code>&lt;script src="js/jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="js/tableSorter.min.js"&gt;&lt;/script&gt;
&lt;script src="js/mac.js"&gt;&lt;/script&gt;
&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;
&lt;link href="css/normalize.css" rel="stylesheet" /&gt;
&lt;link href="css/bootstrap.min.css" rel="stylesheet" /&gt;
&lt;link href='css/font-awesome.css' rel='stylesheet' /&gt;
&lt;link href="css/macStyles.css" rel="stylesheet" /&gt;
                        </code></pre>
                        </div>
                    </div>
            </div>

            <br><br>

            <div ui-view="typography"></div>

            <br><br>

            <div ui-view="colors"></div>

            <br><br>

            <div ui-view="buttons"></div>

            <br><br>

            <div ui-view="dropdown"></div>

            <br><br>

            <div ui-view="toggle-radio-buttons"></div>

            <br><br>

            <div ui-view="form-elements"></div>
        </div>
    </div>
</div>