<div id="typography">
    <h2 class='mac_heading'>Typography</h2>
    <p>
        LOLA would follow a standard type pattern for headings and text thus providing a 
        uniform look and feel across the entire application. <b>@mixin</b> feature of SaSS is used
        to create a type for similar elements which can be <b>included</b> in the CSS classes thus
        avoiding repetition of CSS code.
    </p>
    <div class="typography">
        <h3>Examples</h3>
        <div class='div_border'>
            <table class="table" style="table-layout: fixed">
                <thead>
                    <tr>
                        <th> Browser View </th>
                        <th> HTML Code </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h1 class="pb-medium"> McGrath Real Estate Agency Group </h1>
                        </td>
                        <td>
                            <pre><code><b>&lt;h1 class="pb-medium"&gt; McGrath Real Estate Agency Group &lt;/h1&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="pb-bold">Extend a Facility</h2>
                        </td>
                        <td>
                            <pre><code><b>&lt;h2 class="pb-bold"&gt; Extend a Facility &lt;/h2&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="pb-light">What's new in LOLA Version 8?</h2>
                        </td>
                        <td>
                            <pre><code><b>&lt;h2 class="pb-light"&gt; What's new in LOLA Version 8? &lt;/h2&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="pc-bold">Search new connection limits</h3>
                        </td>
                        <td>
                            <pre><code><b>&lt;h3 class="pc-bold"&gt; Search new connection limits &lt;/h3&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="pb-bold">Anupam Mishra <i class="fa fa-chevron-down" aria-hidden="true"></i></h3>
                        </td>
                        <td>
                            <pre><code><b>&lt;h3 class="pb-bold"&gt; Anupam Mishra &lt;i class="fa fa-chevron-down" aria-hidden="true"&gt; &lt;/i&gt;&lt;/h3&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="pa-bold"> apple banana cherry berry constructions </h4>
                        </td>
                        <td>
                            <pre><code><b>&lt;h4 class="pa-bold"&gt; apple banana cherry berry constructions &lt;/h4&gt;</b></code></pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="Johny Boo" style="width: 50%">
                            <p class="rf-regular">This entry is not valid</p>
                        </td>
                        <td>
                            <pre><code><b>&lt;p class="rf-regular"&gt; This entry is not valid &lt;/p&gt;</b></code></pre>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>